@model IEnumerable<SklepIntranet.Models.Users.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Users")'">
        Dodaj
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stanowisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stanowisko)
            </td>            
                <td>

                    <a class="btn waves-effect waves-light" asp-action="Edit" asp-route-id="@item.IdUsers">Edytuj</a>
                    <a class="btn waves-effect waves-light blue" asp-action="Details" asp-route-id="@item.IdUsers">Szczegóły</a>
                    <a class="btn waves-effect waves-light red" asp-action="Delete" asp-route-id="@item.IdUsers">Usuń</a>

                </td>           
        </tr>
}
    </tbody>
</table>
