
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"] - FirmaPortalWWW</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SklepPortalWWW.styles.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/site.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
     <a class="background-image">
        <img src="~/images/background.jpg" alt="Background Image">
    </a>
    
    
    @await Html.PartialAsync("NavigationLinks", (IEnumerable<SklepData.Data.CMS.Page>)ViewBag.ModelPage)
    <li>
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-route-id="@item.IdPage">@item.LinkTitle</a>
    </li>


    <div class="section no-pad-bot" id="index-banner">
       

        @RenderBody()
       
    </div>
    <br>
    <br>
    @await Html.PartialAsync("News", (IEnumerable<SklepData.Data.CMS.News>)ViewBag.ModelNews)
    
        <br><br>

        <div class="section">
        </div>
    <div class="container">
    <footer class="page-footer light-blue">
        
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">NASZ SKLEP</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-4" href="https://www.youtube.com/watch?v=2yJgwwDcgV8">Witamy</a></li>
                    </ul>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">My w socialmedich</h5>
                    <ul>
                        <li><img src="~/icons/youtube.png" style="height: 30px; margin-right: 10px; vertical-align: middle;"><a class="white-text" href="Http://youtube.com">   You Tube</a></li>
                        <li><img src="~/icons/instagram.png" style="height: 30px; margin-right: 10px; vertical-align: middle;"><a class="white-text" href="Http://instagram.com">   Instagram</a></li>
                        <li><img src="~/icons/facebook.png" style="height: 30px; margin-right: 10px; vertical-align: middle;"><a class="white-text" href="Http://facebook.com">   Facebook</a></li>
                        <li><img src="~/icons/twiter.png" style="height: 30px; margin-right: 10px; vertical-align: middle;"><a class="white-text" href="Http://x.com">   X</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="Http://onet.cpl">Link 1</a></li>
                        <li><a class="white-text" href="Http://wp.pl">Link 2</a></li>
                        <li><a class="white-text" href="Http://allegro.pl">Link 3</a></li>
                        <li><a class="white-text" href="Http://youtube.coml">Link 4</a></li>
                    </ul>
                </div>
            </div>
        
        <div class="footer-copyright">
            <div class="container">
                Made by !#$%^
            </div>
        </div>
    </footer></div>


    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav();
        });
    </script>


</body>
</html>